:root {
  --apricot: #efa079;
  --athens-gray: #f2f3f7;
  --mulled-wine: #4c4b64;
  --apricot: #eb7b69;
  --zinnwaldite: #ebc0ad;
  --dairy-cream: #f8d4ba;
  --bazaar: #9c8086;
  --copper-rose: #8f6267;
  --copperfield: #dc845c;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
